*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
body{
  text-align: center;
  background-color: #1b2034;
  color: #fff;
}
.app{
  padding: 2rem 1rem;
  
}
h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;

}
input{
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
button,a{
  appearance: none;
  outline: none;
  border: none;
  background:none;
  color: #2bcb4b;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1rem;
  text-decoration: none;
}
img{
  display: block;
  width: 100%;
  max-width: 490px;
  margin: 2rem auto;
}